# <font color=darkblue size=50px> **Open Data Lab - GCK**

## <font color=red> _Micro-course in Data Analysis - Session 2_

### Introduction to Python

***

In [ ]:
# running a code

3 + 2

---

In [ ]:
# running a code eg.2 - print function

print('Hello World')

---

###### <font color=green> Input Function

In [ ]:
name = input("Enter your name: ")
print(name)

In [ ]:
name

In [ ]:
a = input("enter your hobby: \n")
print("Hi",name,',',a,'is a nice hobby')

---

## <font color=green>Data Types

In [ ]:
type(a)

In [ ]:
# dynamic data typing

a = 21
type(a)

In [ ]:
x = 0.22

type(x)

In [ ]:
y = 2 + 4j

type(y)

In [ ]:
b = '21'

type(b)

#### Len function and count function

In [ ]:
d = "Open Data"

In [ ]:
# len function

len(d)

In [ ]:
# count function

d.count('a')

---

## <font color=green> List

In [ ]:
# eg 1

l1 = [1, 'data', 0.25, 5+4j]

In [ ]:
type(l1)

#### Index

In [ ]:
l1[0]

In [ ]:
l1[2]

In [ ]:
l1[3]

#### Negative indexing

In [ ]:
l1[-1]

In [ ]:
l1[-3]

In [ ]:
type(l1[-2])

#### Slicing

In [ ]:
# lets create another list

alpha = ['a','b','c','d','e','f','g','h','c']

In [ ]:
alpha[1]

In [ ]:
alpha[4]

In [ ]:
# lets print specific 4 elements

alpha[1:4]

In [ ]:
## start stop step

alpha[0:8:2]

In [ ]:
# starting from a specific index

alpha[4:]

In [ ]:
# upto a specific element

alpha[:5]

#### Slicing a string

In [ ]:
d

In [ ]:
d[2:7]

In [ ]:
d[:4]

In [ ]:
d[5:]

#### List and Count function in list

In [ ]:
len(alpha)

In [ ]:
alpha.count('c')

### Replacing an element

In [ ]:
alpha[-1]='i'

In [ ]:
alpha

#### Append Function

In [ ]:
alpha.append('k')

In [ ]:
alpha

#### Insert Function

To insert an element at a specific index

In [ ]:
alpha.insert(9,'j')

In [ ]:
alpha

In [ ]:
alpha.insert(3,5)

In [ ]:
alpha

#### Remove function

In [ ]:
alpha.remove('k')

alpha

#### pop function
To remove from a specific index

In [ ]:
alpha.pop(3)

alpha

#### Extend a list with another

In [ ]:
alpha2 = [1,2,3]

In [ ]:
alpha.extend(alpha2)

In [ ]:
alpha

---

## <font color=green> Tuple
Sequence of immutable python objects

In [ ]:
data = (28, 1.23, 'analysis')

type(data)

In [ ]:
d2 = 'G', 'C', 'K'

type(d2)

In [ ]:
d2[1]

In [ ]:
d2[-3]

In [ ]:
len(d2)

In [ ]:
d2.count('G')

In [ ]:
d2[3] = 'P'

---

## <font color = green > Dictionary

In [ ]:
dic = {}

In [ ]:
type(dic)

In [ ]:
detail = {'Name':'Rahul',
       'Age':23,
       'Height': 176.2}

# "Name" is a key & "Rahul" is the value asssociated with that key
# 'Name':'Rahul' constitute a key-value pair

In [ ]:
detail

In [ ]:
type(detail)

#### To access a key-value pair

In [ ]:
detail['Name']

In [ ]:
detail.get('Name')

#### To modify value corresponding to  akey-value pair

In [ ]:
detail['Name'] = 'Rahul S'

In [ ]:
detail

#### To add a key-value pair

In [ ]:
detail['place'] = 'Kasargod'

In [ ]:
detail

#### To delete a particular key-value pair

In [ ]:
del detail['Age']

In [ ]:
detail

#### To get number of key-value pairs in a dictionary

In [ ]:
len(detail)

#### To create a copy of existing dictionary

In [ ]:
data = detail.copy()

In [ ]:
data

---

## <font color = green> Arithmetic Operations

#### Addition

In [ ]:
teacher_count = 15
student_count = 45

teacher_count + student_count

In [ ]:
print('The total count is',teacher_count + student_count)

<font color = blue> Same procedure for subtraction, multiplication, division

In [ ]:
h = 'Hello '
h + h

In [ ]:
w = 'world'

In [ ]:
p = h + w
p

#### Multiplication

In [ ]:
3 * h

#### Division

In [ ]:
20/5

<font color = blue> Returns result as float

#### Floor division

In [ ]:
# lets try a floor division

23//6

In [ ]:
23/6

<font color = blue> Normal division, except returns an integer which is less than or equal to normal division result

#### Modulus Operator

In [ ]:
20 % 3

In [ ]:
21 % 6

<font color = blue> Returns remainder

---

## <font color = green> Relational Operators

In [ ]:
a = 9
b = 12

Checking greater than condition:

In [ ]:
b > a

Checking less than condition:

In [ ]:
b < a

Checking equality condition:

In [ ]:
a == b

Checking not equal to condition:

In [ ]:
a != b

---

## <font color = green> Logical Operators

#### and

In [ ]:
a==9 and b>10

In [ ]:
a==9 and b<10

#### or

In [ ]:
a==9 or b<10

#### not

In [ ]:
not b>20

if we give incorrect argument after 'not', our result will be True

---

## <font color = green> Identity Operators

#### is

In [ ]:
type(a) is int

In [ ]:
type(a) is str

#### is not

In [ ]:
type(a) is not str

In [ ]:
type(a) is not int

---

## <font color = green> Membership Operators

In [ ]:
alpha

In [ ]:
"f" in alpha

In [ ]:
'z' in alpha

In [ ]:
'x' not in alpha

In [ ]:
3 not in alpha

---

## <font color = green> Assignment Operators

In [ ]:
#eg.1 c+=1 equivalent to c=c+1

c = 0
c = c + 1
print(c)

In [ ]:
c = 0
c

In [ ]:
c+=1
print(c)

Here += first adds the value on its RHS to the value of the cariable in its LHS and then assign the resultant value to that variable itself.

---

## <font color = green> Conditional Execution

Example 1:

In [ ]:
# To check whether a number is even

n = int(input('Enter a number: '))
if (n % 2 == 0):
    print('Even')

In [1]:
# extension of abpove program to print 'odd' otherwise

n = int(input('Enter a number: '))
if (n % 2 == 0):
    print('Even')
else:
    print('Odd')

Enter a number: 3
Odd

Example 2:

In [4]:
# To check whether a number is positive or negative or zero

n = int(input('Enter a number: '))
if (n == 0):
    print('Zero')
elif (n % 2 == 0):
    print('Even')
else:
    print('Odd')

Enter a number: 3
Odd

---

## <font color = green> for loop

In [ ]:
h = 'Hello'
for i in h:
    print(i)

In [ ]:
l = ['abc', 123, 4.56]
for item in l:
    print(item)

Example 1:
Program to calculate sum of marks. <br>
Q: A student scored 56, 89,67 and 82 marks in four subjects. Write a program using 'for' loop to find his total mark.

In [5]:
score = [56, 89, 67, 82]
sum = 0
for i in score:
    sum+=i
print(sum)

294

In [7]:
# how 'for' loop works in above program
score = [56, 89, 67, 82]
sum = 0
for i in score:
    sum+=i
    print(sum)
print('Total score is ',sum)

56
145
212
294
Total score is  294

---

## <font color = green> while loop

In [9]:
# Program to find sum of n natural numbers

n = int(input('Enter the limit: '))
i = 1
sum = 0
while i <= n:
    sum+=i
    i+=1
print(sum)

Enter the limit: 10
55

---

## <font color = green> break statement

In [ ]:
lang = 'python'
for c in lang:
    if (c=='h'):
        break
    print(c)

## <font color = green> continue statement

In [ ]:
lang = 'python'
for c in lang:
    if (c=='h'):
        continue
    print(c)

Example 3:

In [ ]:
x = 1
while x < 10:
    if x < 3:
        print('skipping', x)
        x+=1
        continue
    print(x)
    if x == 4:
        print('enough')
        break
    x+=1
print('End')

---

## <font color = green> Functions

Q: Write a program to print multiplication table of a number given by user

In [10]:
# using while loop

n = int(input('Enter the limit: '))
i = 1
while i <= 10:
    print(i, 'x', n, '=', i*n)
    i+=1

Enter the limit: 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [11]:
# using for loop

n = int(input('Enter the limit: '))
for i in range(1,11):
    print(i, 'x', n, '=', i*n)

Enter the limit: 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

Defing a function to print the multiplication table easily

In [13]:
# defifng the function

def multiply(n): # def keyword is used to define a function. 'multiply' is the name of the function defined and it takes only one argumnt n
    for i in range(1,11):
        print(i, 'x', n, '=', i*n)

In [14]:
multiply(7) # you can try with a different number

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70